<header>
    <nav>
        <a href="/" class="{{ 'active' if path == '/' else '' }}">Home</a>
        <a href="/users" class="{{ 'active' if path == '/users' else '' }}">User List</a>
    </nav>
</header>